# =========================
# Data files
# =========================
data/raw/*.csv

# =========================
# Secrets / credentials
# =========================
*.env
*.key
*.json
*.pem

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# =========================
# OS / editor files
# =========================
.DS_Store
Thumbs.db
.idea/
.vscode/